{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <p class="red-text">{{field.errors}}</p>
            <p class="amber-text">{{field.label_tag}}</p>
            <div class="input-field col s6">    
                {{field}}
                <span class="helper-text">{{field.helpertext}}</span>
            </div>
        </div>
        {% endfor %}
        <button class="btn waves-effect waves-light" type="submit">
            Login
        </button>
    </form>
    <p>u haven't got an account, so <a href="/register"><strong>register</strong></a> now</p>
</div>
{% endblock %}