
{% extends 'navbar.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10">

                <div class="panel amber darken-2">
                    <span text-align="center" display="block"><img class="responcive-img center-align" src="/{{post.post_img}}"></span>
                    <h3 class="center-align pink-text accent-4-text">{{post.title}}</h3>
                    <p class="flow-text center-align">
                        <span class="white-text">{{post.text}}</span>
                    </p>
                </div>
            </div>
            {% include "sidebar.html" %}
            {% if not user.is_authenticated %}
        </div>
        <div class="row">
            <form method = 'POST'>
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="btn waves-effect waves-light" type="submit">
                    Submit
                </button>
            </form>
        </div>
        {% endif %}
        {% for comment in comments %}
            <div class="row">
                <a href="{% url 'look_profile' comment.author.username%}"><img src="/{{comment.author.profile.avatar}}" alt=""></a>
                <p>{{comment}}</p>
                <p>{{comment.date_posted}}</p>
            </div>
        {% endfor %}
    </div>

    <div></div>
    <hr></hr>
    </br>
    <form action="{% url 'like_post' post.pk%}" method="POST">
        {% csrf_token %}
        <button type="submit", name="post_slug", value="{{single_slug}}", class="btn waves-effect waves-light">Like</button>
    </form>    
        {% include "Paginator_bar.html" %}
    
    {% endblock %}
