{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10">

                <div class="panel amber darken-2">
                    <span text-align="center" display="block"><img class="responcive-img center-align" src="/{{post.post_img}}"></span>
                    <h3 class="center-align pink-text accent-4-text">{{post.title}}</h3>
                    <p class="flow-text center-align">
                        <span class="white-text">{{post.text}}</span>
                    </p>
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
    </div>
{% endblock %}
