{% extends 'navbar.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div style=" top: 80px;" class="col s4 m2 l2 sidenav-fixed">
        <div style="display: flex;">
        <form class="" id="search_user" method=POST action="{% url 'search_user' %}">
            {% csrf_token %}
            <input type="search" name="searchuser"
            placeholder="Шукати користувача">
        </form>
        <button style="align-items: center;" class="btn waves-effect waves-light"
                 form="search_user"
                 type="submit" ><i class="large material-icons">search</i>
        </button>
        </div>
        {% for user_ in users %}
        {% if user_ == other_user %}
        <div class="row valign-wrapper" style="background: linear-gradient(220deg, #03001e75,#7403c07a,#ec38bc81,#fdeff986);
                                                border-radius: 50px;">
        {% else %}
        <div class="row valign-wrapper">
        {% endif %}
            <div class="col s4">
                <a style="display: flex; margin: 5px 0;" href="/chat/{{user_.pk}}"><img style="position: relative;" src="/{{user_.profile.avatar}}" alt="" class="circle responsive-img"></a>
            </div>
            <div class="col s8">
              <span class="black-text">
                  <a href="/chat/{{user_.pk}}">{{user_.username}}</a>
              </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="container">
            <div id="message_area" class="col s8 m10 l10">
                <div id="messages" class="row">
                    {% for message in user_messages %}
                
                        <div class="col s12 m12 l12">
                            <div class="mes_card {% if request.user == message.sender %} right{% else %} left{% endif %}" style="padding: 3px;">
                                <div class="card-content" style="display: flex; align-items: center;">
                                    <p style="font-family: 'Oswald', sans-serif; color: white; margin:0 10px; font-size: 20px; text-align:{% if request.user == message.sender %}right {% else %} left {% endif %};">{{ message.message }}</p>
                                    <p style="font-size: 10px;">{{ message.date_created }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for message in messages %}
                        <div class="col s12 m12 l12">
                            <div class="card-panel teal lighten-2">
                                <div class="card-content" style="display: flex;">
                                    <p class="left" >{{message.sender.username}}</p> 
                                    <p class="left">{{message.message}}</p> 
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            
                <div class="row">
                    <div  class="input-field col s10">
                      <input style="color: white;" id="message-input" type="text" data-length="1000">
                    </div>
                    <div class="col s2">
                        <button style="padding: 0;" id="send_btn" class="btn waves-effect waves-light" type="submit" name="action"><i style="margin: 0 5px;" class="material-icons right">send</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let message_send_btd = document.getElementById('send_btn');
    let message_input = document.getElementById('message-input');
    message_input.scrollIntoView();
    
    function send_message(){
        let message = message_input.value;
        if (message === ""){
            return;
        }
        message_input.value = "";
        fetch("{% url 'chatroom_ajax' other_user.id %}", 
        {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({"message":message}),
        }).then(resp => resp.json()).then(messages => {
                console.log("MESSAGES", messages);
                for (message of messages){
                    show_message(message);
                }           
            }
        ).catch(e=>console.log("Error in fetch: " + e));
    }


    function load_messages(){
        console.log("LOAD MESSAGES");
        fetch("{% url 'chatroom_ajax' other_user.id%}", {
            method: "GET",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            }
        }).then(resp => resp.json()).then(messages => {
            for (message of messages){
                show_message(message);
            }
        });
    }
            

    function show_message(message){
        let message_container = document.getElementById('messages');
        let class_name = "left";
        if (message.sent){
            class_name = "right";
        }
        let parent_div = document.createElement('div');
        parent_div.className = 'col s12 m12 l12'
        let div = document.createElement('div');
        div.classList.add("mes_card", class_name);
        div.innerHTML = `
                        <div class="card-content" style="display: flex;">
                        <p style="color: white; margin: 0px; font-size: 15px; text-align:{% if request.user == message.sender %}right {% else %} left {% endif %};">${ message.message }</p>
                        <p style="font-size: 10px;">${ message.date_created }</p>
                        </div>`;
        parent_div.appendChild(div);
        message_container.appendChild(div);
        div.scrollIntoView();
    } 


    message_send_btd.addEventListener('click', send_message);  
    message_input.addEventListener('keypress', (e) => {
        if (e.key === "Enter"){
            send_message();}});
    setInterval(load_messages, 2000);
</script>

{% endblock %}